# This file defines where com.allflex.api will
# lookup the XSD files from
#FlexOrderXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexSpec/FlexSpec.xsd
#FlexOrderStatusXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexOrderStatus/FlexOrderStatus.xsd
#FlexSpecXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexOrder/FlexOrder.xsd
FlexOrderXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexSpec/FlexSpec.xsd
FlexOrderStatusXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexOrderStatus/FlexOrderStatus.xsd
FlexSpecXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexOrder/FlexOrder.xsd