# These are the configuration values for the
# com.allflex.api java library
#FlexOrderXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexOrder/FlexOrder.xsd
#FlexOrderStatusXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexOrderStatus/FlexOrderStatus.xsd
#FlexSpecXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/master/AllfleXML/FlexSpec/FlexSpec.xsd
FlexOrderXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexOrder/FlexOrder.xsd
FlexOrderStatusXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexOrderStatus/FlexOrderStatus.xsd
FlexSpecXSD=https://raw.githubusercontent.com/Allflex/AllfleXML/javaLib/AllfleXML/FlexSpec/FlexSpec.xsd