<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="AllflexGlobal" value="http://nuget.allflex.global/" />
  </packageSources>
  <packageSourceCredentials>
    <AllflexGlobal>
      <add key="Username" value="nuget" />
    </AllflexGlobal>
  </packageSourceCredentials>
  <apikeys>
  </apikeys>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>